body{
    background-color: antiquewhite;
    font-family: monospace;
}

pre {
    background-color: #282c34;
    color: #abb2bf;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-family: 'Consolas', 'Monaco', monospace;
    overflow-x: auto;
}