body{
    background-color: antiquewhite;
    font-family: 'Merriweather Sans', sans-serif;
}

pre{
    background-color: #282c34;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-family: 'Consolas', 'Monaco', monospace;
    overflow-x: auto;
    box-shadow: 10px 10px 3px #5e6470;
}