<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Beecrowd 1259</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet"/>
</head>
<body>
    <h1>Beecrowd 1259 Solution</h1>
    <pre class="line-numbers">
        <code class="language-python">tamanho_lista = int(input())
contador = 1
lista_pares = []
lista_impares = []
while(contador <= tamanho_lista):
    valores = int(input())
    if valores % 2 == 0:
        lista_pares.append(valores)
    else:
        lista_impares.append(valores)
    contador = contador + 1
lista_pares.sort()
lista_impares.sort(reverse=True)
for j in lista_pares:
    print(j)
for k in lista_impares:
    print(k)</code>
    </pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
</body>
</html>