<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonte do Google Fonts: Merriweather Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Página inicial</title>
</head>
<body>
    <h1>Bem-vindo ao beecrowd-solutions-api</h1>
    <h2>O intuito desse pequeno projeto é desenvolver minhas habilidades como desenvolvedor e mostrar essa ideia bem legal!</h2>
    <br>
    <p>Como usar? Basta digitar a rota /beecrowd e o número do problema. Por exemplo /beecrowd/1101 como na imagem abaixo: </p>
    <img src="{{url_for('static', filename='imagens/exemplo_rota.png')}}">
    <br>
    <p>Dessa maneira, será retornado um template html com a solução do problema específicado: </p>
    <img src="{{url_for('static', filename='imagens/exemplo_solução.png')}}">
</body>
</html>